// COLOR VARIABLES

$primary-color  : #fff;
$secondary-color: #000;
$main-accent    : linear-gradient(to bottom, #5a77ff, #bc7198, #ffc593);
$opaque-black   : rgba(0, 0, 0, 0.6);
$opaque-grey    : #dfdfdf99;
$light-grey     : #dfdfdf;
