/*FOOTER*/
/*============================================================================================================*/

%common-styles-for-social-links {
    @include bg-no-repeat;
}

.footer {
    background-color: $secondary-color;
    padding         : 5.6rem 0;
}

.footer__grid {
    @include grid;
    grid-template-columns: 1fr;
    padding              : 0 3.2rem / 37.5rem * 100% 0 3.3rem / 37.5rem * 100%;
    margin               : 0 auto 11.9rem auto;
    width                : max-content;
}

.footer__grid .logo {
    margin-bottom: 3.2rem;
}

/*SOCIAL LINKS*/
.footer__grid-socials {
    @include flex;
    @include flex-row;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    margin-bottom  : 4.9rem;
}

.footer__grid-social:not(:last-child) {
    margin-right: 1.333rem;
}

.footer__grid-social:nth-of-type(1),
.footer__grid-social:nth-of-type(4) {
    width : 2rem;
    height: 2rem;
}

.footer__grid-social:nth-of-type(2),
.footer__grid-social:nth-of-type(5) {
    width : 2.1rem;
    height: 2rem;
}

.footer__grid-social:nth-of-type(3) {
    width : 2.1rem;
    height: 1.8rem;
}

.footer__grid-social-link {
    display: block;
    width  : 100%;
    height : 100%;
}

.facebook>svg:hover {
    path {
        fill: $main-accent;
    }
}

.youtube>svg:hover {
    path {
        fill: linear-gradient(45deg, #D3205A 0%, #FF5A5A 100%);
    }
}

.twitter>svg:hover {
    path {
        fill: linear-gradient(225deg, #65FFEB 0%, #27718A 100%);
    }
}

.pinterest>svg:hover {
    path {
        fill: linear-gradient(225deg, #F6C683 0%, #DE3838 100%);
    }
}

.instagram>svg:hover {
    path {
        fill: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    }
}

/*========================================================================*/

/*NAVBAR*/
.footer-menu {
    @include flex;
    @include flex-column;
    align-items: center;
}

.footer-menu__item:not(:last-child) {
    margin-bottom: 1.9rem;
}

.footer-menu__link {
    @include common-styles-for-navbar-links;
    color: $primary-color
}

.footer-menu__link:hover {
    color: $opaque-grey;
}

/*========================================================================*/

/*COPYRIGHT*/
.footer__copyright {
    @include flex;
    @include flex-column;
    justify-content: center;
    align-items    : center;
    width          : max-content;
    margin         : 0 auto;
}

.footer__copyright .arrow-link {
    width        : 100%;
    margin-bottom: 3.4rem;
}

.footer__copyright-text {
    font-family   : $ff-dm-sans-regular;
    font-size     : $font-size-body;
    line-height   : 2rem;
    color         : $opaque-grey;
    text-transform: capitalize;
}

/*========================================================================*/

/*============================================================================================================*/
/*============================================================================================================*/