/*THE FEATURES(PAGE) SECTION*/
/*============================================================================================================*/
@use "sass:math";

/*HERO*/
.hero .column {
    @include flex;
    flex-direction: column-reverse;
}

.hero .text-container {
    min-height: 30rem;
}

.hero-rectangle-decor {
    @include common-styles-for-rectangle-decor-mob;
}

.hero .text-box {
    padding: 0 math.div(2.8rem, 37.5rem) * 100% 0 math.div(2.9rem, 37.5rem) * 100%;
}

.co-features-grid {
    @include grid;
    grid-template-columns: 1fr;
    margin               : 6.4rem 0 9.1rem 0;
}

/*========================================================================*/

/*BETA*/

.beta .container {
    @include flex;
    @include common-styles-for-gallery-imgs;
    background-image: url('../../../assets/shared/mobile/bg-beta-mobile.jpg');
    position        : relative;
    align-items     : center;
    min-height      : 28.8rem;
    padding         : 0 math.div(3.2rem, 37.5rem) * 100% 0 math.div(3.3rem, 37.5rem) * 100%;
    margin          : 0 auto;
}

.beta-rectangle-decor {
    @include common-styles-for-rectangle-decor-mob;
}

.beta .text-box {
    max-width: 111rem;
    margin   : 1.5rem 0;
    padding  : 0;
}

.beta .text-box__heading {
    margin-bottom : 2.4rem;
    letter-spacing: $letter-spacing-small;
}

/*========================================================================*/

/*============================================================================================================*/
/*============================================================================================================*/