/*THE SECTIONS*/

/*THE SECTIONS LINK WITH ARROW*/
/*============================================================================================================*/
@use "sass:math";

%common-styles-for-arrow-btns {
    @include bg-cover;
    @include bg-no-repeat;
    @include transition;
    content : '';
    position: absolute;
    right   : 0;
    width   : 4.2rem;
    height  : 1.3rem;
}

/*IT IS CONTAINER FOR ARROW LINKS*/
.create .arrow-link,
.footer .arrow-link {
    max-width: 16.8rem;
}

.arrow-link {
    @include flex;
    @include flex-row;
    justify-content: space-between;
    align-items    : center;
    position       : relative;
    font-family    : $ff-dm-sans-bold;
    font-size      : $font-size-extra-small;
    letter-spacing : $letter-spacing-small;
    line-height    : $line-height-small;
    max-width      : 20.5rem;
}

/*========================================================================*/

.arrow-link:hover {
    text-decoration: underline;
}

.arrow-link--white {
    color: $primary-color;
}

.arrow-link--black {
    color: $secondary-color;
}

.arrow-link--white::after {
    @extend %common-styles-for-arrow-btns;
    background-image: url('../../../assets/shared/desktop/arrow-white.svg');
}

.arrow-link--black::after {
    @extend %common-styles-for-arrow-btns;
    background-image: url('../../../assets/shared/desktop/arrow.svg');
}

.arrow-link--white:hover::after,
.arrow-link--black:hover::after {
    transform: rotateY(-180deg) translateX(1rem);
}

/*============================================================================================================*/
/*============================================================================================================*/

/*THE CREATE, STORIES AND EVERYONE SECTIONS*/
/*============================================================================================================*/

.create .column,
.everyone .column {
    @include flex;
    flex-direction: column-reverse;
}

.stories .column {
    @include flex;
    @include flex-column;
}

.section-img>img {
    display: block;
    width  : 100%;
}

.text-container {
    @include flex;
    align-items: center;
    position   : relative;
    width      : 100%;
    min-height : 41.9rem;
}

.text-container__bg--black {
    background-color: $secondary-color;
}

.create-rectangle-decor {
    @include common-styles-for-rectangle-decor-mob;
}

.text-box {
    @include flex;
    @include flex-column;
    width  : 100%;
    padding: 0 math.div(2.4rem, 37.5rem) * 100% 0 math.div(3.3rem, 37.5rem) * 100%;
    margin : 4rem 0;
}

.text-box__heading {
    @include uppercase;
    font-family   : $ff-dm-sans-bold;
    font-size     : 3.2rem;
    text-align    : left;
    line-height   : 4rem;
    letter-spacing: 0.33rem;
    margin-bottom : 1.6rem;
}

.text-box__descr {
    font-family  : $ff-dm-sans-regular;
    font-size    : $font-size-body;
    line-height  : $line-height-medium;
    margin-bottom: 2.3rem;
}

.text-box__heading--white {
    color: $primary-color;
}

.text-box__descr--opaque {
    color: $opaque-grey;
}

/*============================================================================================================*/
/*============================================================================================================*/

/*THE GALLERY SECTION*/
/*============================================================================================================*/

/* .grid AND .grig-col IN THE _breakpoints-for-mobile.scss FILE!!! */

.grid-col:after {
    content : '';
    display : block;
    position: absolute;
    left    : 0;
    bottom  : 0;
}

.grid-col:hover::after {
    background: $main-accent;
    width     : 100%;
    height    : 0.6rem;
}

.grid-col:hover {
    transform: translateY(-2.4rem);
}

.overlay {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001), rgba(0, 0, 0, 0.661222));
}

.grid-col__text-box {
    position : absolute;
    top      : math.div(23.6rem, 37.5rem) * 100%;
    left     : math.div(3.3rem, 37.5rem) * 100%;
    min-width: math.div(31rem, 37.5rem) * 100%;
}

.grid-col__text-box .arrow-link {
    display  : block;
    min-width: 100%;
}

.grid-col__heading {
    font-family   : $ff-dm-sans-bold;
    font-size     : $font-size-small;
    line-height   : $line-height-medium;
    color         : $primary-color;
    margin-bottom : 0.4rem;
    text-transform: capitalize;
}

.grid-col__author {
    @include common-styles-for-dates-and-authors;
    margin-bottom : 2rem;
    padding-bottom: 1.6rem;
    border-bottom : 1px solid $opaque-grey;
    text-transform: lowercase;

    &>span {
        text-transform: capitalize;
    }
}

/*============================================================================================================*/
/*============================================================================================================*/

/*THE FEATURES SECTION*/
/*============================================================================================================*/

.features .container {
    padding: 0 math.div(3.2rem, 37.5rem) *100% 0 math.div(3.3rem, 37.5rem) *100%;
}

.features-grid {
    @include grid;
    grid-template-columns: 1fr;
    margin               : 8rem 0;
}

.feature {
    @include flex;
    @include flex-column;
    justify-content: center;
    align-items    : center;
    text-align     : center;
}

.feature:not(:last-child) {
    margin-bottom: 5.6rem;
}

.feature__img {
    display      : block;
    width        : max-content;
    height       : max-content;
    margin-bottom: 4.8rem;
}

img[src="assets/features/desktop/no-limit.svg"] {
    margin-bottom: 6.6rem;
}

.feature__heading {
    font-family   : $ff-dm-sans-bold;
    font-size     : $font-size-small;
    line-height   : $line-height-medium;
    color         : $secondary-color;
    text-transform: capitalize;
    margin-bottom : 1.6rem;
}

.feature__heading>span {
    text-transform: lowercase;
}

.feature__descr {
    font-family: $ff-dm-sans-regular;
    font-size  : $font-size-body;
    line-height: $line-height-medium;
    color      : $opaque-black;
}

/*============================================================================================================*/
/*============================================================================================================*/