/*THE STORIES PAGE*/

/*THE MOUNTAIN SECTION*/
/*============================================================================================================*/

.mountain-size--lg {
    display: none;
}

.mountain .column {
    @include flex;
    @include flex-column;
    width : 100%;
    height: max-content;
}

.mountain .text-container {
    min-height: 49.5rem;
}

.mountain .text-box {
    padding: 0 2.9rem / 37.5rem * 100% 0 2.8rem / 37.5rem * 100%;
}

.text-box__deadline {
    @include uppercase;
    font-family   : $ff-dm-sans-bold;
    font-size     : $font-size-extra-small;
    letter-spacing: $letter-spacing-small;
    color         : $primary-color;
    line-height   : $line-height-small;
    margin-bottom : 1.6rem;
}

.mountain .text-box__heading {
    margin-bottom: 1.6rem;
}

.text-box__release {
    @include common-styles-for-dates-and-authors;
    text-transform: lowercase;
    color         : $primary-color;
    margin-bottom : 2.4rem;
}

.mountain span {
    text-transform: capitalize;
}

.mountain time {
    text-transform: capitalize;
    color         : $opaque-grey;
    margin-right  : 0.9rem;
    margin-bottom : 0;
}

.mountain .arrow-link {
    max-width: 18.4rem;
}

/*============================================================================================================*/
/*============================================================================================================*/

/*THE GALLERY SECTION*/
/*============================================================================================================*/

.story .grid-col__text-box {
    top      : 21.5rem / 37.5rem * 100%;
    left     : 4.2rem / 37.5rem * 100%;
    min-width: 29.2rem / 37.5rem * 100%;
}

time {
    @include common-styles-for-dates-and-authors;
    margin-bottom: 0.4rem;
}

.grid-col__heading span {
    text-transform: lowercase;
}

/*============================================================================================================*/
/*============================================================================================================*/